.info-box {
	background-color: #eef4ed;
	border-radius: 30px;
	padding: 2rem;
	width: 100%;
	max-width: 500px;
	text-align: center;
	color: #0b2545;

	h2 {
		padding: 2rem;
		font-size: 2rem;
	}

	.change-btn {
		color: #134074;
		font-size: 1.2rem;
		font-weight: bold;
		background: none;
		border: none;
		cursor: pointer;
	}

	p {
		font-size: 1.2rem;
	}

	.change-profile-pic-btn {
		padding: 0.5rem 2rem;
		margin-top: 2rem;
		border-radius: 40px;
		border: none;
		background-color: #8da9c4;
		font-weight: bold;
		font-size: 1rem;
		transition: background-color 0.3s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: #64798c;
		}
	}
}

.image {
	position: relative;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
