.link {
	text-decoration: none;
	font-size: 2.3rem;
	color: #eef4ed;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		margin-left: 0.5rem;
	}
}

@media (min-width: 768px) {
	.link {
		font-size: 3rem;
	}
}
