.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 1px solid rgb(141, 169, 196, 0.2);
	align-items: center;
	background-color: #134074;
	color: #eef4ed;

	a {
		transition: color 0.3s ease-in-out;
	}

	a:hover {
		color: #64798c;
	}

	h3 {
		font-size: 1.5rem;
	}

	ul {
		list-style: none;

		li {
			padding: 0.25rem 0;
			a {
				display: flex;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0.5rem;
			}
		}
	}
}

.wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1400px;
	padding: 1.5rem 0.5rem;
}

.firm-info {
	display: none;
}

.firm-info h3 {
	display: flex;
	align-items: center;
}

.firm-info p,
.socials a,
.about a {
	color: #8da9c4;
	text-decoration: none;
}

.firm-info {
	width: 40%;
}

@media (min-width: 576px) {
	.firm-info {
		display: block;
	}

	.footer {
		h3 {
			font-size: 1.7rem;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		h3 {
			font-size: 1.9rem;
		}

		p,
		a {
			font-size: 1.1rem;
		}
	}
}

@media (min-width: 1100px) {
	.wrapper {
		padding: 2.5rem;
	}
}
