* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #eef4ed;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.logout {
	background: #8da9c4;
	padding: 1rem;
	border: none;
	color: #eef4ed;
	border-radius: 50px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: #64798c;
	}
}
